<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission  android:name="android.permission.BLUETOOTH"/>
    <uses-permission  android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission  android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission  android:name="android.permission.BLUETOOTH_SCAN"/>
<!--    <uses-permission  android:name="android.permission.BLUETOOTH_PRIVILEGED"/>-->
    <uses-permission  android:name="android.permission.NFC"/>
<!--    <uses-permission  android:name="android.permission.NFC_SET_CONTROLLER_ALWAYS_ON"/>-->
<!--    <uses-permission  android:name="android.permission.BIND_NFC_SERVICE"/>-->
    <uses-permission  android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
<!--    <uses-permission  android:name="android.permission.STATUS_BAR"/>-->
<!--    <uses-permission  android:name="android.permission.WRITE_SETTINGS"/>-->
<!--    <uses-permission  android:name="android.permission.WRITE_SECURE_SETTINGS"/>-->
    <uses-permission  android:name="android.permission.WAKE_LOCK"/>
<!--    <uses-permission  android:name="android.permission.STOP_APP_SWITCHES"/>-->
<!--    <uses-permission  android:name="android.permission.MASTER_CLEAR"/>-->
<!--    <uses-permission  android:name="android.permission.REAL_GET_TASKS"/>-->
    <uses-permission  android:name="android.permission.READ_PROFILE"/>
    <uses-permission  android:name="android.permission.READ_CONTACTS"/>
<!--    <uses-permission  android:name="android.permission.READ_FRAME_BUFFER"/>-->
<!--    <uses-permission  android:name="android.permission.READ_DEVICE_CONFIG"/>-->
    <uses-permission  android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
<!--    <uses-permission  android:name="android.permission.HIDE_NON_SYSTEM_OVERLAY_WINDOWS"/>-->
    <uses-permission  android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission  android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission  android:name="android.permission.VIBRATE"/>
    <uses-permission  android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<!--    <uses-permission  android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>-->
    <uses-permission  android:name="android.permission.INTERNET"/>
<!--    <uses-permission  android:name="android.permission.MANAGE_USERS"/>-->
<!--    <uses-permission  android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>-->
<!--    <uses-permission  android:name="android.permission.SET_ACTIVITY_WATCHER"/>-->
<!--    <uses-permission  android:name="android.permission.NFC_HANDOVER_STATUS"/>-->
<!--    <uses-permission  android:name="android.permission.LOCAL_MAC_ADDRESS"/>-->
    <uses-permission  android:name="com.android.permission.ALLOWLIST_BLUETOOTH_DEVICE"/>
<!--    <uses-permission  android:name="android.permission.DISPATCH_NFC_MESSAGE"/>-->
<!--    <uses-permission  android:name="android.permission.OVERRIDE_WIFI_CONFIG"/>-->
<!--    <uses-permission  android:name="android.permission.DEVICE_POWER"/>-->
<!--    <uses-permission  android:name="android.permission.ACCESS_VR_MANAGER"/>-->
<!--    <uses-permission  android:name="android.permission.USER_ACTIVITY"/>-->
<!--    <uses-permission  android:name="android.permission.BIND_RESOLVER_RANKER_SERVICE"/>-->
    <uses-permission  android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
<!--    <uses-permission  android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>-->
<!--    <uses-permission  android:name="android.permission.NETWORK_SETTINGS"/>-->
<!--    <uses-permission  android:name="android.permission.QUERY_ALL_PACKAGES"/>-->
<!--    <uses-permission  android:name="android.permission.PACKAGE_USAGE_STATS"/>-->
<!--    <uses-permission  android:name="android.permission.STATUS_BAR_SERVICE"/>-->
    <uses-permission  android:name="android.permission.EXPAND_STATUS_BAR"/>
<!--    <uses-permission  android:name="android.permission.INTERACT_ACROSS_USERS"/>-->
    <uses-permission  android:name="com.sec.enterprise.knox.MDM_CONTENT_PROVIDER"/>
    <uses-permission  android:name="com.sec.android.settings.permission.SOFT_RESET"/>
    <uses-permission  android:name="com.samsung.android.knox.permission.KNOX_AUDIT_LOG"/>
    <uses-permission  android:name="com.samsung.permission.SBEAM_NDEF_MESSAGE"/>
<!--    <uses-permission  android:name="android.permission.SET_PREFERRED_APPLICATIONS"/>-->
    <uses-permission  android:name="android.permission.READ_PHONE_STATE"/>
<!--    <uses-permission  android:name="android.permission.SET_PROCESS_LIMIT"/>-->
<!--    <uses-permission  android:name="android.permission.GET_PACKAGE_IMPORTANCE"/>-->
    <uses-permission  android:name="com.samsung.permission.NFC_SYSTEM_PROTECTION"/>
    <uses-permission  android:name="com.samsung.permission.SIMHOTSWAP"/>
    <uses-permission  android:name="com.samsung.android.permission.LOCK_SECURITY_MONITOR"/>
    <uses-permission  android:name="com.samsung.permission.ESE_SYSTEM_PROTECTION"/>
<!--    <uses-permission  android:name="android.permission.TETHER_PRIVILEGED"/>-->
    <uses-permission  android:name="com.samsung.android.permission.wirelesspowersharing"/>
<!--    <uses-permission  android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>-->
    <uses-permission  android:name="com.samsung.permission.HQM_NOTIFICATION_PERMISSION"/>
    <uses-permission  android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission  android:name="com.sec.android.app.permission.NFC_IMPORT"/>
    <uses-permission  android:name="com.sec.permission.ACCESSBILITY_SHARING"/>
    <uses-permission  android:name="android.permission.MAINLINE_NETWORK_STACK"/>
<!--    <uses-permission  android:name="android.permission.MODIFY_PHONE_STATE"/>-->
<!--    <uses-permission  android:name="android.permission.SUBSTITUTE_SHARE_TARGET_APP_NAME_AND_ICON"/>-->
    <uses-permission  android:name="com.sec.phone.permission.SEC_FACTORY_PHONE"/>
<!--    <permission  android:name="com.samsung.permission.SBEAM_NDEF_MESSAGE" android:protectionLevel="0x3"/>-->
<!--    <permission  android:name="com.samsung.permission.NFC_SYSTEM_PROTECTION" android:protectionLevel="0x3"/>-->
<!--    <permission  android:name="com.android.nfc.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="0x2"/>-->
    <uses-permission  android:name="com.android.nfc.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>

    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.nfc.hce" android:required="true" />
    <uses-feature android:name="android.hardware.nfc.hcef" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NFCTest"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NFCTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- For Reader app -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TAG_DISCOVERED"
                android:resource="@xml/nfc" />
            <meta-data
                android:name="android.nfc.action.NDEF_DISCOVERED"
                android:resource="@xml/nfc" />
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc" />
            <!-- For Reader app -->
        </activity>

        <service
            android:name="com.example.nfctest.MyHostApduService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">

            <!-- For Card app -->
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>
            <!-- For Card app -->

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apdu" />
        </service>

<!--        <service android:name=".MyHostNfcFService" android:exported="true" android:permission="android.permission.BIND_NFC_SERVICE">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.nfc.cardemulation.action.HOST_NFCF_SERVICE"/>-->
<!--        </intent-filter>-->
<!--        <meta-data android:name="android.nfc.cardemulation.host_nfcf_service" android:resource="@xml/apdu2"/>-->
<!--    </service>-->

    </application>

</manifest>
